body {
  margin-top: 30px;
  background: #333 url("https://i.pinimg.com/originals/70/e8/b2/70e8b246527f88131a5ea00ac3eced84.jpg") no-repeat fixed center;
  color: #fff;
  align-items: center;
  text-align: center;
}

.card {
 margin-top: 10px;
}

#resetBTN {
  margin: 20px;
}

/* Add media query so it viewable in mobile devices*/
